<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>io.hakbot.controller.persistence.LocalPersistenceInitializer</listener-class>
    </listener>
    <listener>
        <listener-class>io.hakbot.controller.persistence.LocalPersistenceManagerFactory</listener-class>
    </listener>
    <listener>
        <listener-class>io.hakbot.controller.event.EventSubsystemInitializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>OriginController</servlet-name>
        <servlet-class>io.hakbot.controller.OriginControllerServlet</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>io.swagger.jaxrs.listing,io.hakbot.controller.resources,io.hakbot.controller.filters</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OriginController</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConsoleStaticResourceServlet</servlet-name>
        <servlet-class>io.hakbot.controller.servlet.FileSystemResourceServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsoleStaticResourceServlet</servlet-name>
        <url-pattern>/console/static/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConsoleController</servlet-name>
        <servlet-class>io.hakbot.controller.servlet.ConsoleControllerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsoleController</servlet-name>
        <url-pattern>/console/*</url-pattern>
    </servlet-mapping>

</web-app>